.singleSelectedItem {
  display: flex;
  flex-direction: column;
  margin-right: 10vw;
}

.selectedItemImg {
  width: 50px;
  cursor: move;
}

.selectedItemImg2 {
  width: 50px;
  object-fit: contain;
}

#quantity {
  height: 2vh;
}