.singleSelectedItem {
  display: grid;
  justify-content: center;
}

.singleSelectedItem p {
  text-align: center;
}

.selectedItemImg {
  width: 50px;
  cursor: move;
  
}

.selectedItemImg2 {
  width: 50px;
  object-fit: contain;
}

