.singleSelectedItem {
  display: flex;
  flex-direction: column;
  margin-right: 10vw;
}

.selectedItemImg {
  width: 50px;
  cursor: move;
  border: 1px solid red;
}

.selectedItemImg2 {
  width: 50px;
  object-fit: contain;
}